
@{
    ViewData["Title"] = "Diesel Page";
}

<body>
    <div class="conteiner" id="con">
        <div class="tables-row">
            <div class="section big">
                <div class="section small">    
                    <div class="table-div odstavkyTable">
                        <div class="name">
                                <h2 style="padding-right:20px; color: black;">@TempData["TableName"] dnešní aktivní <i class="fa-solid fa-person-running"></i></h2>
                        </div>
                        <table id="runningTable">
                            <thead>
                                <tr>
                                    <th>Stav</th>
                                    <th>Akce</th>
                                    <th>Id</th>
                                    <th>Distributor</th>
                                    <th>Lokalita</th>
                                    <th>Klasifikace</th>
                                    <th>Technik</th>
                                    <th>Vstup</th>
                                    <th>Popis</th>
                                    <th>Baterie<a> [min]</a></th>
                                    <th>Zásuvka</th>
                                </tr>
                            </thead>
                            <tbody>     
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="section big">
                <div class="section small">    
                    <div class="table-div odstavkyTable" style="margin-top: 20px;">
                            <div class="name">
                                <h2 style="padding-right:20px; color: black;">@TempData["TableName"] dnešní nadcházející <i class="fa-solid fa-hourglass-end"></i></h2>
                            </div>
                        <table id="upcomingTable">  
                            <thead>
                                <tr>
                                    <th>Stav</th>
                                    <th>Akce</th>
                                    <th>Id</th>
                                    <th>Distributor</th>
                                    <th>Lokalita</th>
                                    <th>Klasifikace</th>
                                    <th>Technik</th>
                                    <th>Objednáno</th>
                                    <th>Popis</th>
                                    <th>Baterie<a> [min]</a></th>
                                    <th>Zásuvka</th>
                                </tr>
                            </thead>
                            <tbody>       
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    

        <div class="tables-row">
            <div class="section big">
                <div class="section small">
                    <div class="table-div odstavkyTable">
                        <div class="name">
                            <h2 style="padding-right:20px; color: black;">@TempData["TableName"] dnešní ukončené <i class="fa-regular fa-circle-xmark"></i></h2>
                        </div> 
                        <table id="endTable">
                            <thead>
                                <tr>
                                    <th>Stav</th>
                                    <th>Akce</th>
                                    <th>Id</th>
                                    <th>Distributor</th>
                                    <th>Lokalita</th> 
                                    <th>Klasifikace</th>
                                    <th>Odchod</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div> 
                </div>    
                <div class="section small">
                    <div class="table-div odstavkyTable">
                        <div class="name">
                            <h2 style="padding-right:20px; color: black;">@TempData["TableName"] všechna nepřiřazená <i class="fa-solid fa-trash"></i></h2>
                        </div>   
                        <table id="thrashTable">
                            <thead>
                                <tr>
                                    <th>Stav</th>
                                    <th>Akce</th>
                                    <th>Id</th>
                                    <th>Distributor</th>
                                    <th>Lokalita</th> 
                                    <th>Klasifikace</th>
                                    <th>Firma</th>
                                
                                    
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>    
        </div>
        <div class="tables-row">
            <div class="section big">
                <div class="section small"> 
                    <div class="table-div odstavkyTable" id="all-table">
                        <div class="name">
                            <h2 style="padding-right:20px; color: black;">@TempData["TableName"] všechna dieslovaní <i class="fa-solid fa-globe"></i></h2>
                            <div>
                                <span class="legenda">
                                    Aktivní :
                                    <i class="fa-solid fa-square" style="color: rgba(0, 128, 0, 0.371)"></i>
                                </span>
                                <span class="legenda">
                                    Ukončené :
                                    <i class="fa-solid fa-square" style="color: rgba(255, 0, 0, 0.382)"></i>
                                </span>
                                <span class="legenda">
                                    Nekativni :
                                    <i class="fa-solid fa-square" style="color: #0055ff28"></i>
                                </span>
                                <span class="legenda">
                                    Nepřižazeno :
                                    <i class="fa-solid fa-square" style="color:  rgba(255, 166, 0, 0.521"></i> 
                                </span>
                                <span class="legenda">
                                    Čekající :
                                    <i class="fa-solid fa-square" style="color: rgba(255, 255, 0, 0.321"></i>
                                </span>
                            </div>
                        </div>
                        <table id="allTable">
                            <thead>
                                <tr>
                                    <th>Stav</th>
                                    <th>Akce</th>
                                    <th>Id</th>
                                    <th>Distributor</th>
                                    <th>Lokalita</th>
                                    <th>Klasifikace</th>
                                    <th>Adresa</th>
                                    <th>Firma</th>
                                    <th>Technik</th>
                                    <th>Region</th>
                                    <th>Objednáno</th>
                                    <th>Konec Odstávky</th>
                                    <th>Vstup</th>
                                    <th>Odchod</th>
                                    <th>Popis</th>
                                    <th>Baterie<a> [min]</a></th>
                                    <th>Zásuvka</th>
                        
                                </tr>
                            </thead>
                                <tbody id="table-body">
                                    
                                </tbody>
                        </table>
                    </div>
                </div>   
            </div>             
        </div>
    </div>
  

</body>
</html>


